<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="biplove.cf">
    <meta name="keywords" content="biplove, biplove.cf">
    <meta name="author" content="biplove, biplove.cf">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style1.css?{{ "now"|date("m/d/Y") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-{{ authorized }}">
    {% block body %}
    {% endblock %}

    {% if logged %}
        <div class="logout bg-white op-8 p-2">
            <a href="javascript:{document.getElementById('logout').submit();}">Logout</a>
        </div>
        
        <form id="logout" method="POST" action="/{{ logged.username }}/logout/">
            <input type="hidden" name="logout">
        </form>
    {% endif %}
</body>
</html>